<html>
    <head><meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>MTG Zombie Horde</title>
        <link rel="stylesheet" href="static/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="static/jquery-ui/jquery-ui.min.css">
        <link rel="stylesheet" href="static/sweetalert2/theme/dark.css">

        <!-- <link href="https://db.onlinewebfonts.com/c/a1d0efeffaaffcfa652c93e3820e1457?family=Zombie+Guts" rel="stylesheet" type="text/css"/> -->
        <link href="static/fonts/ZombieGuts/ZombieGuts.css" rel="stylesheet" type="text/css"/>

        <link rel="stylesheet" href="static/app/style.css">

    </head>
    <body>

        <div class="container-fluid">
            <div class="row">

                <!-- <main role="main" class="col-md-9"> -->
                <main role="main" class="col-md-12 mt-5">

                    <div class="row">
                        <div class="col-md-12">Turn: <span class="turn-number">0</span></div>
                    </div<

                    <div class="row">
                        <div class="col-md-12 controls">
                            <div class="row justify-content-md-center turn-phase-container">
                                <svg class="turn-phase-icon beginning-phase"  title="Beginning Phase" width="46" height="46" viewBox="0 0 46 46" xmlns="http://www.w3.org/2000/svg">
                                    <rect fill="#e1e1e1" transform="rotate(-45 23.036 23.036)" x="20.536" y="20.536" width="5" height="5" fill-rule="evenodd"/>
                                </svg>
                                <svg class="turn-phase-icon precombat-main-phase" title="Main Phase" width="46" height="46" viewBox="0 0 46 46" xmlns="http://www.w3.org/2000/svg">
                                    <rect fill="#e1e1e1" x="14.5" y="11" width="17" height="24" rx="2" fill-rule="evenodd"/>
                                </svg>
                                <svg class="turn-phase-icon combat-phase" width="46" title="Combat Phase" height="46" viewBox="0 0 46 46" xmlns="http://www.w3.org/2000/svg">
                                    <path fill="#e1e1e1" fill-rule="evenodd" d="M25 43a1 1 0 0 1 0 2h-5a1 1 0 0 1 0-2h5zm5-12v2.087l-.003-.001-.002.063A2 2 0 0 1 28 35h-3.5v7h-4v-7H17a2 2 0 0 1-1.998-1.914l-.002.001V31h15zM22.443 0L28 7.627V30h-4.796V7.627c-.134-.261-.368-.392-.704-.392-.336 0-.549.13-.64.392V30H17V7.627L22.443 0z"/>
                                </svg>
                                <svg class="turn-phase-icon postcombat-main-phase" title="Main Phase" width="46" height="46" viewBox="0 0 46 46" xmlns="http://www.w3.org/2000/svg">
                                    <rect fill="#e1e1e1" x="14.5" y="11" width="17" height="24" rx="2" fill-rule="evenodd"/>
                                </svg>
                                <svg class="turn-phase-icon ending-phase" title="Ending Phase" width="46" height="46" viewBox="0 0 46 46" xmlns="http://www.w3.org/2000/svg">
                                    <rect fill="#e1e1e1" transform="rotate(-45 23.036 23.036)" x="20.536" y="20.536" width="5" height="5" fill-rule="evenodd"/>
                                </svg>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-md-center">
                        <h1><span class="horde-remaining-count">100</span> Remaining</h1>
                    </div>

                    <div id="game-controls-container" class="row justify-content-md-center mb-4">
                        <button id="resolveSpell" class="btn btn-lg btn-danger col-md-2 ml-2 mr-2" title="Add Zombie">
                            <i class="fas fa-plus"></i>
                        </button>
                        <button id="nextTurn" class="btn btn-lg btn-primary col-md-2 ml-2 mr-2" title="Next Turn">
                            <i class="fas fa-forward"></i>
                        </button>
                    </div>

                    <div class="row justify-content-md-center">
                        <div class="col-md-2 zone-section zoneHand">
                            <label class="m-0" ><i class="fas fa-eye"></i> Hand: </label><span class="handCount"></span>
                        </div>
                        <div class="col-md-2 zone-section zoneBattlefield">
                            <label class="m-0" ><i class="fas fa-eye"></i> Battlefield: </label><span class="battlefieldCount"></span>
                        </div>
                        <div class="col-md-2 zone-section zoneLibrary">
                            <label class="m-0" ><i class="fas fa-eye"></i> Library: </label><span class="libraryCount"></span>
                        </div>
                        <div class="col-md-2 zone-section zoneGraveyard">
                            <label class="m-0" ><i class="fas fa-eye"></i> Graveyard: </label><span class="graveyardCount"></span>
                        </div>
                        <div class="col-md-2 zone-section zoneExile">
                            <label class="m-0" ><i class="fas fa-eye"></i> Exile: </label><span class="exileCount"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 battlefield ml-4 mb-4">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="row no-gutters creatures">
                                    </div>
                                    <div class="row no-gutters combatZone"></div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row no-gutters noncreatures">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </main>

                <!-- <nav class="col-md-3 d-none d-md-block bg-black sidebar">
                    <div class="sidebar-sticky">
                        <div id="gameLog">
                        </div>
                        <div class="cursorContainer">
                            <i class="fas fa-i-cursor"></i>
                        </div>
                    </div>
                </nav> -->

            </div>
        </div>


        <footer class="footer bg-light">
          <div class="container">
            <span class="text-muted">
                This project uses the <a href="https://scryfall.com/docs/api">ScryFall api</a>.
                Deck list and rules can be found
                <a href="https://www.quietspeculation.com/2011/09/horde-magic-a-new-way-to-play-magic-and-survive-zombie-invasions/">here</a>.
            </span>
          </div>
        </footer>

        <script src="static/JavaScript-MD5/md5.js"></script>
        <script src="static/d3/d3.min.js"></script>
        <script src="static/jquery/jquery.min.js"></script>
        <!-- <script src="static/jquery-ui/jquery-ui.min.js"></script> -->
        <!-- <script src="static/popper/popper.js"></script> -->
        <script src="static/bootstrap/bootstrap.min.js"></script>
        <script src="static/sweetalert2/sweetalert2.min.js"></script>
        <script src="https://kit.fontawesome.com/131ba7f97d.js"></script>
        <script src="static/underscore/underscore-min.js"></script>
        <script src="static/backbone/backbone-min.js"></script>
        <script src="static/backbone/backbone.localStorage-min.js"></script>








        <script type="text/template" id="card_tooltip">
            <div class="card-tooltip">
                <div class="card-tooltip-header">
                    <span class="card-tooltip-name"><%= name %></span>
                    <span class="card-tooltip-manacost"><%= mana_cost %></span>
                </div>
                <div class="card-tooltip-types">
                    <span> <%= type_line %> </span>
                </div>
                <div class="card-tooltip-text">
                    <p> <%= oracle_text %> </p>
                </div>
                <div >
                    &nbsp;
                    <span class="card-tooltip-stats">
                        <%= power %>/<%= toughness %>
                    </span>
                </div>
            </div>
        </script>





        <script type="text/template" id="card_template">

            <svg width="156" height="210" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- <defs>
                    <clipPath id="clip">
                        <rect  x="0" y="4%" width="96%" height="96%" rx="16"/>
                    </clipPath>
                </defs> -->
                <g>
                    <!-- <image y="10" xlink:href="<%= image_uris.small %>" height="200" width="150" clip-path="url(#clip)"/> -->
                    <image y="10" xlink:href="<%= image_uris.small %>" height="200" width="150" style="clip-path: inset(2px 2px 2px 2px round 8px);"/>
                </g>
                <g>
                    <text x="10" y="52" fill="#e1e1e1" font-size="42px" font-weight="bold" stroke="black" stroke-width="1px" class="mtg-card-count">
                        1
                    </text>
                </g>
                <g class="mtg-card-destroy-btn">
                    <circle cx="140" cy="15" r="11" fill="grey"/>
                    <text x="135" y="21" fill="black">X</text>
                </g>
                <g>
                    <text x="88" y="198" fill="#e1e1e1" font-size="32px" font-weight="bold" stroke="black" stroke-width="1px" class="mtg-card-creature-stats">
                        <%= power %>/<%= toughness %>
                    </text>
                </g>
                <g>
                    <path
                        class="mtg-card-attack-icon"
                        transform="translate(36,64) scale(1.75)"
                        fill="#e1e1e1"
                        fill-rule="evenodd"
                        d="M25 43a1 1 0 0 1 0 2h-5a1 1 0 0 1 0-2h5zm5-12v2.087l-.003-.001-.002.063A2 2 0 0 1 28 35h-3.5v7h-4v-7H17a2 2 0 0 1-1.998-1.914l-.002.001V31h15zM22.443 0L28 7.627V30h-4.796V7.627c-.134-.261-.368-.392-.704-.392-.336 0-.549.13-.64.392V30H17V7.627L22.443 0z"/>
                </g>
            </svg>


        </script>

        <script src="static/app/tooltip.js"></script>
        <script src="static/app/utils.js"></script>
        <script src="static/app/card.js"></script>
        <script src="static/app/zones.js"></script>
        <script src="static/app/player.js"></script>
        <script src="static/app/app.js"></script>


    </body>
</html>
