
.mtgcard {
    display: inline-block;
    margin: 1px;
    /*border: 4px solid #ffffff;*/
    /*border-radius: 8px;*/
    /*transition: border-color 0.3s linear;*/
    transition-duration: 0.3s;
    transition-property: transform;
    cursor: pointer;
}

.mtgcard img {
    width: 100%;
    height:auto;
}

.mtgcard .counter-container {
    position: absolute;
}

.mtgcard .card-text-container {
    position: absolute;
    z-index: 9;
    background-color: rgba(256, 256, 256, 0.6);
    font-size: 11px;
    height: 100%;
    width: 100%;
    padding: 8px;
    border-radius: 4px;
}

.mtgcard.leathal-damage .card-text-container {
    background-color: rgba(256, 0, 0, 0.6);
}

.mtgcard .stats-container {
    position: absolute;
    z-index: 10;
    color: white;
    font-weight: bold;
    font-size: 20px;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.75px;
    -webkit-text-stroke-color: black;
    right: 4px;
    bottom: 0;
}

.mtgcard .counter-symbol {
    display: none;
}

.selected {
    box-shadow: 0 0 4px 2px #337ab7;
}

.zone-section {
    cursor: pointer;
    transition: color 0.3s linear;
    border-style: dashed;
    border-color: white;
    border-width: 2px;
    transition: border-color 0.3s linear;
}

.zone-section:hover {
    color: #0088cc !important;
}

.draggable-over {
    border-style: dashed;
    border-width: 2px;
    border-color: lightgrey;
}


/* Sticky footer styles
    https://getbootstrap.com/docs/4.1/examples/sticky-footer/sticky-footer.css
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
}
/* .end */


.footer {
    font-size: 10px;
}

.tapped {
    transform: rotate(90deg);
}




.attacking {
    box-shadow: 0 0 0 rgba(255, 0, 0, 0.6);
    animation: pulse 2s infinite;
}

.attacking:hover {
  animation: none;
}


@-webkit-keyframes pulse {
	0% {
		-webkit-box-shadow: 0 0 0 0px rgba(255, 0, 0, .6), 0 0 0 2px rgba(255, 0, 0, .6);
	}
    30% {
		-webkit-box-shadow: 0 0 0 2px rgba(255, 0, 0, .6), 0 0 0 4px rgba(255, 0, 0, .6);
	}
	60% {
		-webkit-box-shadow: 0 0 0 4px rgba(255, 0, 0, .2), 0 0 0 6px rgba(255, 0, 0, .2);
	}
	100% {
		-webkit-box-shadow: 0 0 0 6px rgba(255, 0, 0, 0), 0 0 0 8px rgba(255, 0, 0, 0);
	}
}
@keyframes pulse {
	0% {
		-moz-box-shadow: 0 0 0 0px rgba(255, 0, 0, .6), 0 0 0 2px rgba(255, 0, 0, .6);
		box-shadow: 0 0 0 0px rgba(255, 0, 0, .6), 0 0 0 2px rgba(255, 0, 0, .6);
	}
    30% {
		-moz-box-shadow: 0 0 0 2px rgba(255, 0, 0, .6), 0 0 0 4px rgba(255, 0, 0, .6);
		box-shadow: 0 0 0 2px rgba(255, 0, 0, .6), 0 0 0 4px rgba(255, 0, 0, .6);
	}
	60% {
		-moz-box-shadow: 0 0 0 4px rgba(255, 0, 0, .2), 0 0 0 6px rgba(255, 0, 0, .2);
		box-shadow: 0 0 0 4px rgba(255, 0, 0, .2), 0 0 0 6px rgba(255, 0, 0, .2);
	}
	100% {
		-moz-box-shadow: 0 0 0 6px rgba(255, 0, 0, 0), 0 0 0 8px rgba(255, 0, 0, 0);
		box-shadow: 0 0 0 6px rgba(255, 0, 0, 0), 0 0 0 8px rgba(255, 0, 0, 0);
	}
}



/*
@-webkit-keyframes pulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, .6);
	}
	70% {
		-webkit-box-shadow: 0 0 0 8px rgba(255, 0, 0, 0);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
	}
}
@keyframes pulse {
	0% {
		-moz-box-shadow: 0 0 0 0 rgba(255, 0, 0, .6);
		box-shadow: 0 0 0 0 rgba(255, 0, 0, .6);
	}
	70% {
		-moz-box-shadow: 0 0 0 8px rgba(255, 0, 0, 0);
		box-shadow: 0 0 0 8px rgba(255, 0, 0, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
		box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
	}
}*/





/*
 * Sidebar
 */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  padding-top: 48px;
  padding-bottom: 48px;
  z-index: 10;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  /*height: calc(100vh - 48px);*/
  height: calc(100vh - 96px);
  padding-top: .5rem;
  overflow-y: auto;

  /*box-shadow: inset -10px 0px 20px rgba(0,0,0,0.6);*/
}




#gameLog {
    font: 0.6rem Inconsolata, monospace;
    padding-left: 12px;
    padding-right: 12px;
}

.cursorContainer {
    font: 0.6rem Inconsolata, monospace;
    padding-left: 12px;
    padding-right: 12px;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
