body {
    background-color: black;
    color: #e1e1e1;
    font-family: 'Zombie Guts', serif;
}

.controls {
    text-align: center;
}

.turn-phase-icon path,
.turn-phase-icon rect
{
    transition: fill 0.3s linear;
}

.turn-phase-icon.current-phase path,
.turn-phase-icon.current-phase rect
{
    fill: #6000D6;
}


.mtgcard {
    display: inline-block;
    margin: 1px;
    transition-duration: 0.3s;
    transition-property: transform;
    cursor: pointer;
    margin-right: 2px;
    margin-left: 2px;
    width: auto; /* support for svg cards */
}

.mtg-card-image {
    border-radius: 8px;
}

.selected {
    box-shadow: 0 0 4px 2px #98FB98;
}



.zone-section {
    cursor: pointer;
}

.zone-section:hover {
    color: #6000D6 !important;
}



.draggable-over {
    color: #6000D6;
}


/* Sticky footer styles
    https://getbootstrap.com/docs/4.1/examples/sticky-footer/sticky-footer.css
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
}
/* .end */


.footer {
    font-size: 10px;
}

.tapped {
    transform: rotate(90deg);
    margin-left: calc(100%*0.05);
    margin-right: calc(100%*0.05);
}

.mtgcard text {
    text-shadow: 1px 1px 2px black;
}

.mtg-card-destroy-btn {
    display: none;
}

.mtgcard:hover .mtg-card-destroy-btn {
    display: block;
}

.mtg-card-destroy-btn:hover circle {
    r: 13px;
}

.mtg-card-destroy-btn:hover text {
    fill: #e1e1e1;
}


.mtg-card-count {
    display: none;
}

.mtgcard.mtgcard-group .mtg-card-count {
    display: block;
}


.mtg-card-creature-stats {
    display: none;
}

.mtgcard.creature .mtg-card-creature-stats {
    display: block;
}



.mtg-card-attack-icon {
    display: none;
}

.mtgcard.attacking .mtg-card-attack-icon {
    display: block;
    fill: rgb(138,3,3,1.0);
    stroke: rgb(255,255,255,1.0);
    stroke-width: 1px;
    animation: attacking-animation 2s infinite;
}

@-webkit-keyframes attacking-animation {
    0% {
		fill: rgb(138,3,3,1.0);
        stroke: rgb(255,255,255,1.0);
        stroke-width: 1px;
	}
	25% {
		fill: rgb(138,3,3,0.75);
        stroke: rgb(255,255,255,0.75);
        stroke-width: .75px;
	}
	50% {
		fill: rgb(138,3,3,0.5);
        stroke: rgb(255,255,255,0.5);
        stroke-width: 0.25px;
	}
    75% {
		fill: rgb(138,3,3,0.75);
        stroke: rgb(255,255,255,0.75);
        stroke-width: .75px;
    }
    100% {
		fill: rgb(138,3,3,1.0);
        stroke: rgb(255,255,255,1.0);
        stroke-width: 1px;
    }
}
@keyframes attacking-animation {
    0% {
		fill: rgb(138,3,3,1.0);
        stroke: rgb(255,255,255,1.0);
        stroke-width: 1px;
	}
	25% {
		fill: rgb(138,3,3,0.75);
        stroke: rgb(255,255,255,0.75);
        stroke-width: .75px;
	}
	50% {
		fill: rgb(138,3,3,0.5);
        stroke: rgb(255,255,255,0.5);
        stroke-width: 0.25px;
	}
    75% {
		fill: rgb(138,3,3,0.75);
        stroke: rgb(255,255,255,0.75);
        stroke-width: .75px;
    }
    100% {
		fill: rgb(138,3,3,1.0);
        stroke: rgb(255,255,255,1.0);
        stroke-width: 1px;
    }
}




/*
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  padding-top: 48px;
  padding-bottom: 48px;
  z-index: 10;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 96px);
  padding-top: .5rem;
  overflow-y: auto;
}

#gameLog {
    color: rgb(255, 255, 255);
    font: 0.6rem Inconsolata, monospace;
    padding-left: 12px;
    padding-right: 12px;
}

.cursorContainer {
    font: 0.6rem Inconsolata, monospace;
    padding-left: 12px;
    padding-right: 12px;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}*/



.game-logo-swal {
    margin: 4px;
}


/*
Prevent user select
https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting
*/
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
